*{
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}

#calosc{
	display:flex;
}

#gora{
	width:100vw;
	height:25vh;
	background-color: red;
	font-size: 20px;
	
}

#lewo{
	width:25vw;
	height:100vh;
	background-color: blue;
}

#prawo{
	display: flex;
	align-items: flex-start;
	width:75vw;
	height:100vh;
	background-color: green;
}
#srodekPrawo{
	
	height: 40vh;
	width: 50vw;
	background-color:gray
}
